*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343a40;
    min-height: 100vh;
}

header {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;

}


h1 {
    color: #8585FF;
}

.Counter {
    color: #F2F2F2
}

form {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: 30px auto 30px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.addTask-input {
    width: calc(100% - 50px);
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #6C757D;
    color: white;
    padding-left: 15px;
}

.addTask-button {
    background-color: #6C757D;
    height: 30px;
    width: 30px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
}

.addTask-button:hover, .addTask-button:focus {
    background-color: #8585FF;
    color: white;
}

.error-message {
    position: absolute;
    top: 40px;
    left: 20px;
    color: crimson;
}

.tasksContainer {
    width: 90%;
    max-width: 900px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.task {
    position: relative;
    width: 250px;
    height: 200px;
    background-color: #000000;
    border-radius: 5px;
    margin: 0 auto;
}

.task-content {
    position: relative;
    color: white;
    width: 100%;
    height: 140px;
    top: 30px;
    padding: 5px;
    text-overflow: ellipsis;
}

.task-icon {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.task-icon:hover {
    transform: scale(1.1);
}

.delete-icon {
    top: 5px;
    right: 10px;
    color: crimson;
}

.left-icon {
    bottom: 5px;
    left: 10px;
    color: #8585FF;
}

.right-icon {
    bottom: 5px;
    right: 10px;
    color: #8585FF;
}

@media screen and (max-width: 992px){
    .tasksContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px){
    header {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .tasksContainer {
        grid-template-columns: 1fr;
    }

    .task-icon {
        transform: rotate(90deg);
    }
}